@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Me5Q.ttf)
    format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;
  background: #0b0c2a;
}
.container {
  width: calc(100% - 30%);
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .container {
    width: calc(100% - 10%);
  }
}

.hide {
  display: none !important;
}
.show {
  display: block;
}
